
/*
 * This file is part of the Arnapou jqCron package.
 *
 * (c) Arnaud Buathier <arnaud@arnapou.net>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
.jqcron-holder label {
	margin:0;
	padding:0;
}

.jqcron-holder input[type=checkbox] {
	margin: 0;
}

.jqcron-wrapper {
	padding: 8px 10px;
	height: auto;
	font-family: Poppins,Helvetica,sans-serif;
	color: #5e6278;
	font-size: 13px;
	width: 100%;
	min-width: 50px;
	max-height: 36px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 8px;
	border: 1px solid #f5f8fa;
	-webkit-box-shadow: inset 0 0 0 rgb(0 0 0 / 0%) !important;
	box-shadow: inset 0 0 0 rgb(0 0 0 / 0%) !important;
	margin: 0 0 10px 0;
	background-color: #f5f8fa;
}

.jqcron-wrapper .jqCron {
	padding-left: 10px;
	visibility:hidden;
}

.jqCron-selector {
	position: relative;
}
.jqCron-cross,
.jqCron-selector-title {
	cursor: pointer;
	border-radius: 3px;
	margin: 0 0.2em;
	padding: 0.1em 0.5em;
	background-color: #e4e6ef;
	border-color: #e4e6ef;
	color: #5e6278;
	font-size: 14px;
}
.jqCron-cross {
	border-radius: 1em;
	font-size: 80%;
	padding: 0 0.3em;
}
.jqCron-selector-list {
	left: 0.2em;
	list-style: none;
	margin: 0;
	position: absolute;
	top: 1.5em;
	z-index: 1;
	border: 0;
	-webkit-box-shadow: 0 0 50px 0 rgb(82 63 105 / 15%);
	box-shadow: 0 0 50px 0 rgb(82 63 105 / 15%);
	border-radius: 0.475rem;
	padding: 1rem 0;
	background-color: #fff;
}
.jqCron-selector-list li {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	cursor: default;
	display: inline-block;
	margin: 0;
	padding: 6px;
	width: 100%;
	color: #5e6278;
}
.jqCron-selector-list li.selected,
.jqCron-selector-list li.selected:hover {
	background: #009ef7;
	color: #ffffff;
}
.jqCron-selector-list li:hover {
	background: #f1fafe;
	color: #009ef7;
}
.jqCron-selector-list.cols2 {
	width: 4em;
}
.jqCron-selector-list.cols2 li {
	width: 50%;
}
.jqCron-selector-list.cols3 {
	width: 6em;
}
.jqCron-selector-list.cols3 li {
	width: 33%;
}
.jqCron-selector-list.cols4 {
	width: 8em;
}
.jqCron-selector-list.cols4 li {
	width: 25%;
}
.jqCron-selector-list.cols5 {
	width: 10em;
}
.jqCron-selector-list.cols5 li {
	width: 20%;
}
.jqCron-error .jqCron-selector-title {
	background: #fee;
	border: 1px solid #fdd;
	color: red;
}
.jqCron-container.disable * {
	color: #888;
}
.jqCron-container.disable .jqCron-selector-title {
	background: #eee !important;
}
